{% extends "parts.html" %}
{% block content %}
    <main>
        <section class="project-details-section">
            <div class="container">
                <h1>Data Analytics System</h1>
                <a href="{{project.thumbnail.url}}" target="_blank"><img src="{{project.thumbnail.url}}" alt="Project Main Image" class="project-main-image"></a>
                <div class="project-info">
                    <div class="project-description">
                        <h2>{{project.title}}</h2>
                        <p>{{project.description}}</p>
                    </div>
                    <div class="project-meta">
                        <h3>Project Information</h3>
                        <ul>
                            <li><i class="fas fa-user-tie"></i><strong>Client: </strong>{{project.customer}}</li>
                            <li><i class="fas fa-tag"></i><strong>Category: </strong>{{project.category}}</li>
                            <li><i class="fas fa-calendar-alt"></i><strong>Delivery Date: </strong>{{project.date}}</li>
                            <li><i class="fas fa-microchip"></i><strong>Technologies: </strong>{{project.tech}}</li>
                        </ul>
                        <a href="{{project.project_url}}" class="cta-button-main" target="_blank">Visit Website (if available )</a>
                    </div>
                </div>
                <div class="project-gallery">
                    <h2>Image Gallery</h2>
                    <div class="gallery-grid">
                        <a href="{{project.picture1.url}}" target="_blank"><img src="{{project.picture1.url}}" alt="Project Screenshot 1"></a>
                        <a href="{{project.picture2.url}}" target="_blank"><img src="{{project.picture2.url}}" alt="Project Screenshot 2"></a>
                        <a href="{{project.picture3.url}}" target="_blank"><img src="{{project.picture3.url}}" alt="Project Screenshot 3"></a>
                        <a href="{{project.picture4.url}}" target="_blank"><img src="{{project.picture4.url}}" alt="Project Screenshot 4"></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}